<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG automation suite">

	<test name="TestNG automation">
	
		<classes>
		
			<class name="com.test.GoogleTest"/>
			<class name="com.test.InvocationCountTest"/>
			<class name="com.test.TestNGBasics"/>
			<class name="com.test.TestNGFeatures"/>
			
		
		
		</classes>
	
	</test>



</suite>

